<!-- footer part start-->
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-5">
                <div class="single-footer-widget">
                    <h4>Tours Nổi bật</h4>
                    <ul>
                        <li><a href="#">Vịnh Hạ Long</a></li>
                        <li><a href="#">Đảo Bình Ba</a></li>
                        <li><a href="#">Đà Lạt</a></li>
                        <li><a href="#">Nha Trang</a></li>
                        <li><a href="#">Đà Nẳng</a></li>

                        <li><a href="#">HCM - Đà Lạt - Nha Trang</a></li>
                        <li><a href="#">HCM - Cần Thơ - Cà Mau</a></li>
                        <li><a href="#">HCM - Đảo Bình Ba - Đà Nẵng</a></li>


                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-footer-widget">
                    <h4>Thông Tin Mới</h4>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Địa chỉ E-mail"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ E-mail'"
                                required="" type="email">
                            <button class="click-btn btn btn-default text-uppercase"> <i class="far fa-paper-plane"></i>
                            </button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                    <p>Chúng tôi sẽ gửi thông tin tour mới nhất đến với Quý Khách</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="single-footer-widget footer_icon">
                    <h4>Địa Chỉ</h4>
                    <p>06 Trần Văn Ơn, Phú Hoà, Thủ Dầu Một, Bình Dương</p>
                    <p>Điện thoại: 0817.252.477</p>
                    <p>Email: contact@didaudithoi.com</p>
                    <div class="social-icons">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <p class="footer-text m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;
                        <script>document.write(new Date().getFullYear());</script> | Made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="http://didaudithoi.com:8080/">didaudithoi.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer part end-->